html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.col-center {
    float: none;
    margin: auto;
}

.site-wrapper {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    background: #f4f4f4;
}

.main-center {
    background: #fff;
    width: 385px;
    padding: 80px 65px;
}

.signup-form .form-control {
    border-radius: 4;
}

.signup-section {
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    color: #fff;
    padding: 0;
    width: 450px;
}

.left-section {
    float: left;
    padding: 20px;
    margin-top: 20px;
}

.right-section {
    float: left;
    padding: 36px 25px 24px;
    background-color: #2286C8;
    height: 400px;

   
}

.signup-form {
    padding: 15px;
}

.sign-up-text {
    color: #797979;
    font-size: 14px;
    font-style: italic;
    margin-top: 56px;
}

.sign-up-title {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
}

.dark-red-text {
    color: #623e56;
    margin-top: 5px;
}

.client-name {
    color: #797979;
    font-weight: bold;
}

.btn-border-white {
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    background-color: #DCB905;
    font-weight: 600;
}

.btn.btn-border-white:hover,
.btn.btn-border-white:active,
.btn.btn-border-white:focus {
    color: #fff;
    background-color: #e2bd86;
}

.right-section h2 {
    margin-top: 0;
}

.already-text a {
    margin-top: 10px;
    color: #fff;
}

.already-text {
    margin-top: 10px;
}

.ti-email,
.ti-key {
    color: #623e56;
    font-size: 18px;
}

.right-section .input-group-addon {
    background-color: #fff;
}

.input-group-addon:first-child {
    border-right: 1px solid #623e56;
}

.text-left.login-heading {
    padding-left: 15px;
}

.text-white a {
    color: #fff;
}

.btn-white {
    color: #797979;
}

.btn-white:hover,
.btn-white:active,
.btn-white:active {
    background-color: #e2bd86;
    color: #fff;
}

.forget-text {
    margin-bottom: 30px;
}

.copyright-text.text-center {
    margin-top: 90px;
}

.forget-btn {
    margin-top: 26px;
}


.login-layout-wraper {
    width: 800px;
    margin: 0 auto;
}


.form-group.login-submit-btn {
    margin-top: 35px;
}

.signup-section > .alert {
    margin-bottom: 0;
}