/** top nav settings **/

.nav-custom .caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px dashed;
}

.tracker-section {
    color: #fff;
    float: left;
    margin-top: 14px;
    position: absolute;
    right: 205px;
}

.breadcrumb {
    background-color: #ebeff2;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 1px;

}

strong {
    font-weight: 600;
}

.nav > li > a {
    cursor: pointer;
}

.top-right {
    border-right: 1px solid #fff;
    padding-right: 15px;
}

.padding_left {
    padding-left: 0;
}

.padding_right {
    padding-right: 0;
}

.ti-time {
    font-size: 19px;
    vertical-align: text-bottom;
    margin-right: 7px;
}

.btn.btn-blue {
    background-color: #5d9cec ;
    border: 1px solid #fff ;
    border-radius: 0 ;
    color: #fff ;
    padding: 6px 19px;
}

.btn.btn-blue:hover,
.btn.btn-blue:active,
.btn.btn-blue:focus{
    background-color: #427AC1 ;
    border: 1px solid #fff;

    }

.btn.btn-green {
    background-color: #dcb905;
    border: 1px solid #fff ;
    border-radius: 0 ;
    color: #fff;
    padding: 6px 19px;

    }

    .btn.btn-green-lg {
    background-color: #dcb905;
    border-radius: 0 ;
    color: #fff;
    padding: 8px 19px;

    }

/*.btn.btn-green:hover,
.btn.btn-green:active,
.btn.btn-green:focus{
    background-color: #4E9889;

    }*/

/*.btn.btn-green-lg:hover,
.btn.btn-green-lg:active,
.btn.btn-green-lg:focus{
    background-color: #4E9889;

    }
*/

.treeview span {
    margin-left: 5px;
}

.text-gry {
    color: #98a6ad;
}

.heading-text-color {

    color: #75798b;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0;
}




/* contact type css */

.iconspuls {
    margin-top: 8px;
}


.fa.fa-plus-circle.plus-icon,
.fa.fa-minus-circle.ti-close {
    font-size: 17px;
}

.fa.fa-minus-circle.ti-close {
    margin-left: 5px;
}

.type-table > tbody > tr > td, 
.type-table > tbody > tr > th, 
.type-table > tfoot > tr > td, 
.type-table > tfoot > tr > th, 
.type-table > thead > tr > td, 
.type-table > thead > tr > th {
    line-height: 2;
}



/* index html */

 .box-border {
    border:1px solid #ccc;
 }

.small-box {
    border: 1px solid #ccc;
    padding: 36px;
    text-align: center;
    border-radius: 4px;
}

.icon {
    font-size: 30px;
}

.small-box strong {
    font-size: 18px;
}

 .header-section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 17px;
    padding-bottom: 18px;
}

.btn-default-search {
    background-color: #dcb905;
    color: #fff;
     -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-default-search:hover,
.btn-default-search:focus,
.btn-default-search:active{
    color: #fff;
}

.alert {
    margin-bottom: 0;
}